@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.active {
  @apply text-[#113885] border-r-[#113885] bg-[#CFDEFD] border-r-4;
}

.active svg {
  @apply fill-[#113885];
}

.special-shadow {
  box-shadow: 0px 2px 4px -1px #0000000f;

  box-shadow: 0px 4px 6px -1px #0000001a;
}
