.loginform {
  width: 100%;
  height: 100%;
  height: 100vh;
  background-image: url(/src/assets/Images/Container/oausha.jfif);
  background-size: cover;
  display: grid;
}

.containerlogin {
  display: block;
  background-color: #ebebeb;
  width: 70%;
  height: 100%;
  height: 95vh;
  margin: auto;
  border-radius: 10px;
}

#Ellipse {
  display: flex;
  margin: auto;
  width: 500px;
}

#oaulogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

#pformatric {
  text-align: center;
}

.inputLogin {
  display: flex;
  margin: auto;
  width: 500px;
  height: 3rem;
  border-radius: 7.5px;
}

#pforpassword {
  text-align: center;
}

#select {
  display: flex;
  margin: auto;
  width: 505px;
  height: 3rem;
  border-radius: 7.5px;
}

/* #forgotpasslogin {
  display: flex;
  text-decoration: none;
  text-align: center;
  margin: auto;
} */

.loginButtonsDiv {
  display: flex;
  margin: auto;
}
