.loginform {
  width: 100%;
  height: 100%;
  height: 100vh;
  background-image: url(/src/assets/Images/Container/oausha.jfif);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerlogin {
  /* display: grid;
  place-items: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  width: 40%;
  height: 100%;
  height: 95vh;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

#Ellipse {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 400px;
}

#oaulogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 3;
  width: 150px;
}

#pformatric {
  text-align: center;
  margin-left: -11rem;
  margin-bottom: -20px;
  color: red;
}

#displaynone {
  display: none;
}

.matricdiv {
  margin-top: 7rem;
}

.inputLogin {
  /* display: flex; */
  margin: 1.5rem auto;
  width: 400px;
  height: 3rem;
  border-radius: 7.5px;
  font-size: 18px;
  text-indent: 15px;
  /* outline: none; */
  border: none;
}

.login1 {
  padding-bottom: -20px;
}

#pforpassword {
  text-align: center;
  margin-left: -15rem;
  margin-bottom: -1rem;
  color: red;
}

#forgotpasslogin {
  color: #113885;
  width: 100%;
}

.labelpass {
  display: block;
  text-align: right;
  margin-right: 6rem;
  font-weight: 600;
}

.button_login {
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #113885;
  color: #ffffff;
  padding: 0.9rem 1.75rem;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
