.ContainerHome {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.headerwithimage {
  display: flex;
  background-image: url("/src/assets/Images/Container/headerimage.png");
  background-size: cover;
  align-items: center;
  height: 200px;
}

.headerwithimage img {
  margin-left: 200px;
  width: 150px;
}

.ptagforheader {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
}

.navbarhome {
  height: 50px;
  background-color: #113885;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarhome ul {
  display: flex;
  column-gap: 100px;
}

.navbarhome ul li {
  list-style-type: none;
  color: #ffffff;
}

.navbarhome ul li a {
  text-decoration: none;
  color: #ffffff;
}

.pagecontents {
  /* display: flex; */
  margin: auto;
  /* margin-top: 20px; */
  display: flex;
  width: 100vw;
  gap: 75px;
  justify-content: space-between;
}

.leftNav {
  background-color: #113885;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 55vh;
  width: 200px;
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftNav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 50px;
  text-align: center;
}

.leftNav ul li:nth-child(1) {
  background-color: #ffffff;
  color: #113885;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -25px;
}

.rightpagecontent {
  width: 70%;
  margin-right: 50px;
  background-color: #f2f2f2;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 22.5px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightpagecontent p {
  margin-left: 30px;
  position: relative;
}

.rightpagecontent p:nth-child(1) {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}

.imagestudentdetails {
  width: 100px;
  position: absolute;
  right: 5%;
  top: 45%;
}
